body {
    margin: 20px;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 0 0 0 0;
    font-family:'Times New Roman', Times, serif;
}

p {
    margin: 4px 0 0 0;
}

#location {
    text-decoration: none;
    color: #2b2839;
}

a {
    text-decoration: none;
    color: #5E7D3B;
}

a:visited {
    color:#6A4C93;
}

a:hover {
    color:#5E7D3B;
    text-decoration: underline;
}

.avatar {
    width: 400px;
}

.card, .card img {
    border-radius: 16px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background:#AFCB90;
    color: #2b2839;
    position:relative;
    filter: drop-shadow(0 5px 10px rgb(0, 0, 0, 0.15));
    transition: all 0.2s ease;

    animation:
        slide 0.5s ease-out 0s normal 1 none running,
        hover 2s ease-in-out 1s normal infinite none running
    ;
}

@keyframes slide {
    0% {
        transform: translate(0, -1000px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes hover {
    0%, 100% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 20px);
    }
}

.card:hover {
    border-bottom: 6px solid #7DA64E;
    filter: drop-shadow(0 5px 10px rgb(0, 0, 0, 0.3));
    animation:
        hover 2s ease-in-out 2s normal infinite none paused
    ;
    
}

.container {
    margin: 16px 0 0 0;
    background-color:#F0F8EA;
    padding:8px 16px;
    border: 1px solid #7DA64E;
    border-radius: 8px;
}

.container:hover {
    box-shadow: inset 0px 1px 4px 1px rgb(0, 0, 0, 0.3);
}

small {
    margin:0 4px;
}